<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
        <link rel="stylesheet" href="/css/default.css">

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body id="tell">
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <ul id="menu" class="pure-menu-list">
                    <script>
$if(menu)$
$if(isLanding)$
var isLanding = true;
var menu = '$menu$';
$else$
var isLanding = false;
var menu = '$menu$';
$endif$
$else$
var isLanding = false;
var menu = 'doc';
$endif$
                    </script>
                </ul>
                <a class="pure-menu-heading"><img class="img-header" src="/images/tell-black.png"/></a>
            </div>
        </div>
        $body$
        <!-- FOOTER -->
        <div class="ribbon l-box-lrg pure-g footer">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <img class="pure-img-responsive" alt="ETH Zurich" height="110" src="/images/eth_logo_kurz_neg.png">
                <img class="pure-img-responsive" alt="ETH Computer Science Departement" height="110" src="/images/eth_dinfk_logo_neg.png">
                <img class="pure-img-responsive" alt="ETH Systems Group" height="110" src="/images/systems_logo.png">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon">Tell is a research project at ETH Zurich.</h2>

                <p>
                Tell is a research project by the Systems Group at ETH Zurich.
                </p>
                <p>
                Tell is licensed under the Apache License Version 2.0. The code is publicly available on
                <a href="https://github.com/tellproject/tell">GitHub</a>.
            </div>
        </div>
        <script src="/js/load-menu.js"></script>
    </body>
</html>
